///
/// Hologram by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Features */

	.features {
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');
		@include vendor('flex-direction', 'row');

		border-bottom: solid _size(border-width);
		margin-bottom: (_size(element-margin));

		> section {
			// @include padding(4.5em, 3em);
			border-top: solid _size(border-width);
			width: 50%;
			@include vendor('display', 'flex');
			// @include vendor('flex', '1 1 auto');
			// @include vendor('flex-direction', 'column');

			&:hover {
				//background-color: _palette(bg);
				background-color: transparentize(_palette(fg),.7);
			}

			a {
				@include vendor('flex', '1');
				@include vendor('display', 'flex');
				@include vendor('flex-direction', 'column');
				@include vendor('justify-content', 'center');

				text-decoration: none;
				padding: 3em;
				// height: 100%;
			}

			// a div {
			// 	height: 100%;
			// 	display: flex;
			// 	flex-direction: column;
			// 	justify-content: center;
			// 	align-items: center;
			// }

			.icon {
				font-size: 2.5em;
				margin-bottom: _size(element-margin);
			}

			h3 {
				margin-bottom: (_size(element-margin) * 0.35);
			}

			&:nth-child(even) {
				border-left-style: solid;
				border-left-width: _size(border-width);
			}
		}

		@include breakpoint(medium) {
			> section a {
				padding: 2.5em;
			}
		}

		@include breakpoint(small) {
			> section a {
				padding: 2em;
			}
		}

		@include breakpoint(xsmall) {
			> section {
				a {
					padding: 1.5em;
				}

				width: 100%;

				&:nth-child(even) {
					border-left: 0;
				}
			}
		}
	}

	// .features.llistat > section {
	// 	width: 33%;
	// 	border: solid _size(border-width);
	//
	// 	@include breakpoint(medium) {
	// 		width: 50%;
	// 	}
	// }



	@mixin color-features($p: null) {
		.features {
			border-color: _palette($p, fg);

			> section {
				border-color: _palette($p, fg);
			}
		}
	}

	@include color-features;
