///
/// Hologram by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Split */

	.split {
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');

		section.no-imatge {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
		}

		p {
			margin-bottom: 1em;
		}

		h4 {
			margin-bottom: .5em;
		}

		> * {
			@include padding(3em, 2em);
			margin-bottom: 0;
			width: 50%;

			&:nth-child(odd) {
				border-right: solid _size(border-width);
			}

			&:nth-child(n+3) {
				// Add top border only on the third element and after
				border-top: solid _size(border-width);
			}

			> header.major {
				padding: 0;
			}

			img {
				max-width: 100%;
			}
		}

		a {
			@include vendor('display', 'flex');
			@include vendor('align-items', 'center');
			@include vendor('justify-content', 'center');
			text-decoration: none;
		}

		a:hover {
			background-color: transparentize(_palette(fg),.7); //_palette(bg);
		}

		// @include breakpoint(medium) {
		// 	> * {
		// 		@include padding(3em, 2em);
		// 	}
		// }

		@include breakpoint(small) {
			> * {
				@include padding(2em, 2em);
				width: 100%;

				&:nth-child(2) {
					// Show the top border on the second element too
					border-top: solid _size(border-width);
				}
			}
		}

		@include breakpoint(xsmall) {
			> * {
				@include padding(1.5em, 1em);
			}
		}
	}

	@mixin color-split($p: null) {
		.split {
			> * {
				&:nth-child(odd) {
					border-right-color: _palette($p, border-bg);
				}

				&:nth-child(n+2) {
					border-top-color: _palette($p, border-bg);
				}
			}
		}
	}

	@include color-split;
