///
/// Hologram by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

.lslide {
	height: 100%;
}

.lSSlideWrapper {
	background-color: black;
}

.slider {
	body.is-loading & {
		opacity: 0;
		@include vendor('transform', 'translateY(0.25em)');
		@include vendor('filter', 'blur(2px)');
	}

	li {
		&.lslide {
			padding: 0;
		}
		position: relative;
		img {
			max-width: 100%;
			height: auto;
		}
		a {
			text-decoration: none;
			display: block;
		}
		.slider__caption {
			width: 100%;
			position: absolute;
			bottom: 0;
			background-color: _palette(bg);
			color: _palette(fg);
			padding: 1em;
			@include breakpoint(small) {
				position: relative;
				height: 100%;
			}
			h3 {
				// color: _palette(fg);
				margin-top: 0;
				margin-bottom: .2em;
				font-weight: bold;
				@include breakpoint(small) {
					font-size: 1em;
				}
			}
			p {
				// color: _palette(fg);
				margin-bottom: 0;
			} // a:hover h3,
			// a:hover p {
			// 	color: _palette(accent1, bg);
			// }
			&:hover,
			&:hover * {
				background-color: _palette(fg);
				color: _palette(bg);
			}
		}
	}
}

.lSSlideOuter .lSPager.lSpg>li a {
	background-color: lighten(_palette(fg-light), 25);
	height: 12px;
	width: 12px;
}

.lSSlideOuter .lSPager.lSpg>li.active a,
.lSSlideOuter .lSPager.lSpg>li:hover a {
	// background-color: darken(_palette(bg), 10);
	background-color: _palette(fg);
}

/* Wrapper */

.wrapper {
	padding-bottom: 1em;
	position: relative;
	overflow-x: hidden;
	>.inner {
		margin: 0 auto;
		padding-bottom: 0.01em;
		width: 100%;
		max-width: _size(inner);
	}
	&.alt {
		>.inner {
			@include padding(4.5em, 4em);
		}
	}
	&.style1 {
		>.inner {
			background-color: _palette(accent1, bg);
		}
	}
	&.style2 {
		@include color(accent2);
	}
	&.style3 {
		@include color(accent3);
	}
	&.style4 {
		@include color(accent4);
	}
	&.style2,
	&.style3,
	&.style4 {
		background-image: url('images/overlay.png'), url('images/checker-pattern.svg');
		background-position: center top;
		background-repeat: repeat, repeat;
	}
	@include breakpoint(medium) {
		&.alt {
			>.inner {
				@include padding(4em,
				2em);
			}
		}
	}
	@include breakpoint(small) {
		&.alt {
			>.inner {
				@include padding(3em,
				2em);
			}
		}
	}
	@include breakpoint(xsmall) {
		&.alt {
			>.inner {
				@include padding(2em,
				1.5em);
			}
		}
	}
}