///
/// Hologram by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Basic */

	// MSIE: Required for IEMobile.
		@-ms-viewport {
			width: device-width;
		}

	// MSIE: Prevents scrollbar from overlapping content.
		body {
			-ms-overflow-style: scrollbar;
		}

	// Ensures page width is always >=320px.
		@include breakpoint(xsmall) {
			html, body {
				min-width: 320px;
			}
		}

	body {
		background-attachment: fixed, fixed;		
		background-image: url('images/angular-lines-up.svg');//, url('../../images/bg.jpg');
		background-position: center -315px, center top;
		background-repeat: no-repeat;
		background-size: auto, cover;

		&.landing {
			background-attachment: scroll, scroll, fixed;
			background-image: url('images/angular-lines-up.svg'), url('images/angular-lines-down.svg'), url('../../images/bg.jpg');
			background-position: center top, center bottom, center top;
			background-size: auto, auto, cover;
		}

		// Prevents animation/transition "flicker" on page load.
		// Automatically added/removed by js/main.js.
			&.is-loading {
				*, *:before, *:after {
					@include vendor('animation', 'none !important');
					@include vendor('transition', 'none !important');
				}
			}

		@include breakpoint(large) {
			// background-attachment: scroll !important;
		}
	}
