/* Header */

@include keyframes('reveal-header') {
	0% {
		top: -4em;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

#header {
	@include vendor('animation', 'none');
	@include vendor('display', 'flex');
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: _misc(z-index-base) + 1;
	padding: .5em 1em;
	-ms-flex-pack: justify;
	a,
	.menu__item {
		/* .menu__item { */
		color: inherit;
		font-size: 0.75em;
		font-weight: _font(weight-bold);
		letter-spacing: 0.13em;
		height: 3em;
		line-height: 3em;
		text-decoration: none;
		text-transform: uppercase;
		margin-left: 2em;
		&.button {
			padding: 0 1.5em;
		}
		&:first-child {
			margin-left: 0;
		} // &[href="#menu"] {
	}
	.menu {
		a {
			&:hover {
				border-bottom: 2px solid;
			}
		}
	}
	.menu__item--desplegable {
		margin-right: 20px;
		position: relative;
		display: inline-block;
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-top: 4px solid;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			position: absolute;
			top: 20px;
			right: -15px;
			float: right;
		}
		&:hover {
			.menu__desplegable {
				display: block;
				z-index: 1;
			}
		}
		.menu__desplegable {
			display: none;
			padding: 0;
			min-width: 180px;
			max-width: 280px;
			text-align: left;
			position: absolute;
			background-color: _palette(fg-bold);
			/* -webkit-box-shadow: 3px 5px 5px var(--color-gris-exclar);
			box-shadow: 3px 5px 5px var(--color-gris-clar); */
			li {
				width: 100%;
				padding: 0;
				display: block;
			}
			a {
				padding: 5px 10px;
				color: red;
				&:hover {
					text-decoration: none;
					/* background-color: lightseagreen; */
				}
			}
		}
	}
	/* .menu__item {
		&--desplegable {
			&:hover>.menu__desplegable {
				display: inline;
			}
		}
		.menu__desplegable {
			display: none;
		}
	} */
	.menu-logo {
		max-height: 44px;
	}
	.menu {
		margin-left: auto;
		.icons {
			display: inline;
			margin-left: 1em;
			margin-bottom: 0;
			float: right;
		}
	}
	&.alt .menu__item:hover {
		color: _palette(accent1, bg);
	}
	.menu__btn {
		display: none;
		@include icon;
		margin-left: auto;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		padding-left: 0.5em;
		&:before {
			content: '\f0c9';
			margin: 0 0.5em 0 0;
		}
	}
	.icons a {
		font-size: 1em;
		line-height: 2em;
	}
	&.alt {
		// @include vendor('animation', 'reveal-header 0.5s ease');
		box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: _palette(fg-bold); // padding: 0.5em;
		.menu {
			color: _palette(bg);
			a {
				color: _palette(bg);
			}
		}
		a {
			&[href="#menu"] {
				padding-left: 1em;
			}
		}
	}
}

@include breakpoint(large) {
	#header {
		.menu-logo {
			max-height: 36px;
		}
		.menu__item--desplegable {
			&:after {
				top: 17px;
				right: -10px;
			}
		}
	}
}

@include breakpoint(medium) {
	#header {
		>h1 {
			left: 1em;
			a {
				font-size: 1em;
			}
		}
		a,
		.menu__item {
			margin-left: .7em;
		}
		.menu__item--desplegable {
			margin-right: 10px;
		}
	}
}

@include breakpoint(medium) {
	#header {
		.menu__item {
			display: none;
		}
		.menu__btn {
			display: block;
			float: right;
		}
		.icons {
			float: right;
		}
	}
}

@include breakpoint(xsmall) {
	#header {
		padding: 0.5em;
		min-width: 320px;
		&.alt {
			padding: 0.5em;
			a {
				&[href="#menu"] {
					padding-left: 0.5em;
				}
			}
		}
		.menu__item {
			display: none;
		}
		.icons:not(.menu__search) {
			display: none !important;
		}
	}
}