/* Main */
body {
	padding-top: 86px;
}
@include breakpoint(large) {
	body {
		padding-top: 70px;
	}
}
@include breakpoint(small) {
	body {
		padding-top: 70px;
	}
}
@include breakpoint(xsmall) {
	body {
		padding-top: 55px;
	}
}
	#main {
		padding-top: 3em;

		> .inner {
			> .content {
				padding: 2em 3em 3em;
			}
		}

		@include breakpoint(large) {
			// padding-top: 8em;

			> .inner {
				> .content {
					padding: 2.5em;
				}
			}
		}

		@include breakpoint(medium) {
			> .inner {
				> .content {
					padding: 2em;
				}
			}
		}

		@include breakpoint(small) {
			// padding-top: 6em;
		}

		@include breakpoint(xsmall) {
			> .inner {
				> .content {
					padding: 1em;
				}
			}
		}
	}

.user-content {
	img {
		max-width: 100%;
		width: auto!important;
		height: auto!important;
	}

	.incrustat {
		height:0;
		margin-bottom: 20px;
		padding-top: 30px;
		position: relative;
		overflow: hidden;
	}
	.incrustat iframe,
	.incrustat object,
	.incrustat embed {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	/* Ratios */
	.inc3-2 {
		padding-bottom: 66.66%;
	}
	.inc4-3 {
		padding-bottom: 75%;
	}
	.inc8-5 {
		padding-bottom: 62.5%;
	}
	.inc16-9 {
		padding-bottom: 56.25%;
	}
	.inc256-81 {
		padding-bottom: 31.64062%;
	}
}

.content {
	padding: 1em;
}

.lslide {
	@include vendor('display', 'flex');
	@include vendor('align-items', 'center');
	@include vendor('justify-content', 'center');
}

img {
    max-width: 100%;
    height: auto;
}